body {
    font-family:'Lucida Console', monospace;
    background-color: black;
} 

h1, h3, h6{
    text-align: center;
    color: green;
}

p {
    color: white;
}

a {
    text-align: center;
    color: purple;
}

#home {
    color: green;
}

.message{
    max-width: 400px;
    text-align: center;
    margin: 60px auto;
}

.message:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
}

.card {
    background-color: rgb(36, 36, 36);
    border: 2px solid green;
    text-align: left;
}

.rounded {
    float: left;
    margin: 0 5% 0 0;
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}